.container-detail{
    width: 90%;
    display: flex;
    flex-direction: column;
    filter:grayscale(20%);
    margin: auto;
}

.img-detail{

    margin: auto;
    padding-left: 6%;


        img {
            width: 20%;
            border-radius: 15px;
            border: solid 15px;
        }
}

.text-detail {
    
    color:  rgb(225, 231, 231);
    margin: 4%;
    
    h3{
        color:rgb(236, 233, 230);
        padding: 3%;
       
    }

}


.container-button{

    width: 80%;
    height: 25%;
    margin: auto;
    


    .my-btn{
    
        height: 20%;
        width: 15%;
        font-size: 2em;
        color: black;
        font-weight: bold;
        background-color: rgb(232, 234, 236);
        
    }

}
