.container-detail{
    width: 80%;
    display: flex;
    flex-direction: column;
    filter:grayscale(20%);
    margin: auto;
}

.img-detail{

    margin: auto;
    padding-left: 6%;


        img {
            width: 20%;
            border-radius: 15px;
            border: solid 15px;
        }
}

.text-detail {
    
    background-color: gray;
    color:  rgb(225, 231, 231);
    margin: 4%;
    
    h3{
        background-color: gray;
        color:rgb(236, 233, 230);
        padding: 3%;
       
    }

}
