
.grid{
    

    .title{
        font-size: 1.7em;
    }

        .card-block{
            width: 18%;
            padding: 1%;
            border-radius: 40px;
        }

        @media (min-width: 200px) and (max-width: 860px) {
            display: flex;
            flex-direction: column;
          }
}


.scroll {
    
    overflow-x: auto;
    margin-top: 2.5em;

    

    .title{
        font-size: 1.3em;
        margin-bottom: 0.5em;
    }
        .row{
            flex-wrap: nowrap;
            height: 300px;
            width: 15%;

        //     @media (min-width: 200px) and (max-width: 570px) {
        //         height: 250px;
        //         display: flex;
        //         flex-direction: column;
        // }

        .card-block{
            border-radius: 25px;
        }
    }
}