
    .my-nav{

        font-weight: 600;
        font-size: 1.2em;
        color:  #183f3f;
        padding-bottom: 1%;
        justify-content: end;
        //background-image: url('../../../../public/img/sl_121019_25870_60.jpg');

    }

