

.container {
        position: relative;
        // width: 100%;
        // height: 100vh;
      }
      
      .form-signup {
        position: relative;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.8);
        width: 50%;
        margin: 5% auto;
        border-radius: 3%;
        padding: 2%;
        border: solid 4px #13392f;
        font-weight: bolder;
        color: #13392f;
      }
      
      .custom-error-message {
        color: #1e2020;
      }
      