footer{
    
    background-color:  #183f3f;
    position: absolute;
    width: 100%;
    color: #b3b3b7;
    display: flex;
    padding: 2%;
    font-weight: 1.5em;
    margin-top: auto;
    font-family: cursive;
    
    


    .container{
        font-size: 1.5em;
        height: 20%;

        @media (min-width: 200px) and (max-width: 570px){
            font-size: 1.3em;
            height: 12%;
        }
        
        div{
            display: flex;
            justify-content: center;

            @media (min-width: 200px) and (max-width: 570px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1em;
              }
            
        }
        
        
    }

        .footer-link{
            color: aliceblue;
            text-decoration: none;
            margin-left: 0.5%;
            @media (min-width: 200px) and (max-width: 570px) {
                font-size: 0.8em;
              }
            

    }

    .footer-link:hover{
        color: aliceblue;
        text-decoration: none;

    }

}