footer{
    
    background-color:  #183f3f;
    position: absolute;
    width: 100%;
    color: #b3b3b7;
    display: flex;
    padding: 2%;
    font-weight: 1.5em;
    margin-top: auto;
    font-family: cursive;
    
    


    .container{
        font-size: 1.5em;
        height: 20%;
        
        div{
            display: flex;
            justify-content: center;
            
        }
        
        
    }

        .footer-link{
            color: aliceblue;
            text-decoration: none;
            margin-left: 0.5%;
            

    }

    .footer-link:hover{
        color: aliceblue;
        text-decoration: none;

    }




}