.form-signup{
    background-color: rgb(124, 105, 105);
    background-image: linear-gradient(to right, rgba(0, 183, 255, 0.253), rgba(109, 71, 101, 0.192));
    width: 50%;
    margin:5%;
    margin-top: 3%;
    border-radius: 3%;
    padding: 2%;
    
}